<!DOCTYPE html>
    <html>
    <head>
        <title>Books & Authors</title>
        <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
        crossorigin="anonymous"
      />
    </head>
    <body>
        <div class="container">
        <a href="/">Books Page</a>
            <div class="row align-items-start">
                <div class="col">
            <h2>Add an Author</h2>
            <form action='/add_author' method='post'>
                {% csrf_token %}
                <p>First Name: <input type="text" name="fname"></p>
                <p>Last Name: <input type="text" name="lname"></p>
                <p>Notes: <textarea name="notes"></textarea></p>
                <input type="submit" value="Add">
            </form>
        </div>
        <div class="col">
            <table class="table table-striped table-bordered">
                <thead class="thead-light">
                    <tr>
                        <td>ID</td>
                        <td>Name</td>
                        <td>Action</td>
                    </tr>
                </thead>
                <tbody>
                    {% for author in all_authors %}
                    <tr>
                        <td>{{ author.id }}</td>
                        <td>{{ author.first_name }} {{ author.last_name }}</td>
                        <td><a href="/authors/{{ author.id }}">View</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script
src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
crossorigin="anonymous"
></script>
    </body>
</html>